*.rbc
capybara-*.html
.rspec
/log/*
!/log/.keep
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
config/initializers/secret_token.rb
config/database.yml
.env
/.bundle
.rvmrc
/vendor
*.bowerrc
bower.json
.powenv
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.idea/
.project
node_modules/
*.rdb
.vagrant/
